@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&family=Roboto+Mono&family=Source+Sans+Pro:wght@600&display=swap');





body {
    background-color: #1A1A1D;
}

nav {
    padding-top: 20px;
}


nav button {
    background: linear-gradient(to right,#950740,#C3073F);
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    padding: 5px 30px;
    margin-left: 4%;
    font-weight: bold;
    transition: .4s;
}

button:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.header {
    margin: 15% 30%;

}

.header h1 {
    color: #4E4E50;
    padding: 1%;
    font-size: 100px;
    font-family: 'Open Sans', sans-serif;


}

.header p {
    color: #C3073F;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 5% 17%;

}

.header button {
    background: linear-gradient(to right,#950740,#C3073F);
    color: #6F2232;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    transition: .4s;
    margin: 0% 40%;
}

.content {

    margin-top: 40%;

}

.content1 {

    margin: 15% 20%;
    border-radius: 15px;
    border-style: solid;
    border-color: #4E4E50;

}

.content1 h2 {
    padding: 0% 2.3%;
    margin: 3% 40% 15%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    border-radius: 15px;
    border-style: solid;
    border-color: #C3073F;
    color: white;
}


.content1 p {
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding-left: 2%;
    font-size: 20px;
    
}

.content2 {
    padding-bottom: 3%;
}

.content2 h2 {
    font-size: 50px;
    color: #4E4E50;
    font-family: 'Open Sans', sans-serif;
    margin-left: 39%;
    margin-right: 35%;
}

.slider {
    margin: 3% 35.6%;
    width: 545px;
    height: 545px;
    border-radius: 10px;
    background: linear-gradient(to right,#950740,#C3073F);
}

.slides {
    margin: 4.5% 4.5%;
    padding-top: 4%;
    width: 500px;
    height: 500px;
    display: flex;
    overflow: hidden;
}

.slides input {
    display: none;
}

.slide {
    width: 100%;
    transition: 2s;
}

.slide img {
    width: 500px;
    height: 500px;
}

.nav-manu {
    position: absolute;
    width: 800px;
    margin-top: 30%;
    margin-left: -7.5%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 3px solid #C3073F;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 35px;
}

.manual-btn:hover {
    background: #C3073F;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -100%;
}

#radio3:checked ~ .first {
    margin-left: -200%;
}

.nav-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 30%;
    margin-left: -7.5%;
}

.nav-auto div {
    border: 3px solid #C3073F;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child) {
    margin-right: 35px;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
    background: #C3073F;
}

#radio2:checked ~ .nav-auto .auto-btn2 {
    background: #C3073F;
}

#radio3:checked ~ .nav-auto .auto-btn3 {
    background: #C3073F;
}

.maklumat {
    margin: 15% 20%;
    border-radius: 15px;
    border-style: solid;
    border-color: #4E4E50;
}

.maklumat p { 
    color: white;
    padding-left: 2%;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}